<html>
<body>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Contact us:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Data Science For All DS4A: Team 115
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Creators:
          </h6>
          <p>
            <a href="https://www.linkedin.com/in/pabloadx" class="text-reset">Pablo Andres Betancur</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/daniel-humberto-cruz-soler-41543671" class="text-reset">Daniel Humberto Cruz Soler</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/sebastian-lopez-mejia-bb675755" class="text-reset">Sebastian Lopez Mejia</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/nestor-eduardo-sanchez" class="text-reset">Néstor Eduardo Sánchez Ospina</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> pabloadx@gmail.com</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            daniel.h.cruz.soler@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> sebastian.lopez.mejia@gmail.com</p>
          <p><i class="fas fa-print me-3"></i> nesanchezo@gmail.com</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>